[Unit]
Description=Daemon for the winrun program
Wants=network-online.target
After=network-online.target
Requires=network-online.target

[Service]
Restart=on-failure
RestartSec=5s
StartLimitInterval=600
StartLimitBurst=5
Type=forking
ExecStartPre=/bin/sh -c 'until ping -c1 $(cat /etc/winrund/config | grep -Po "(?<=ip\=)[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}(?=$)"); do sleep 1; done;'
ExecStart=/usr/local/bin/winrund

[Install]
WantedBy=multi-user.target
