[Unit]
Description=Daemon for the winrun program

StartLimitIntervalSecs=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s
Type=forking
Wants=network-online.target
After=network-online.target
Requires=network-online.target
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 1; done;'
ExecStart=/usr/local/bin/winrund

[Install]
WantedBy=multi-user.target
